.col-sm-3 {
  margin-top: 40px;
  padding-right: 30px;
}
p1 {
  font-size: 12px;
}
.container {
  display: inline-flex;
}
a {
  color: black;
  font-size: 14px;
  padding-top: 10px;
  font-weight: 600;
}
img {
  padding: 5px;
  margin: 10px 10px 10px 10px;
}
#Title {
  color: blueviolet;
  padding-left: 22px;
  word-spacing: 8px;
}
.col-sm-7 {
  margin-top: 5px;
}
#logo {
  margin-left: 100px;
}
.Contact {
  margin-top: 40px;
}
.Contact h5 {
  color: blue;
}
